* {
  background-color: black;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.app {
  margin-top: 100px;
}

.appImage {
  cursor: pointer;
  opacity: 100%;
}

.appImage:hover {
  opacity: 50%;
  transition-duration: 0.4s;
}

.bioFirst {
  background-color: transparent;
  color: black;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.bioSecond {
  background-color: transparent;
  color: black;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.bioThird {
  background-color: transparent;
  color: black;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.buttons {
  margin: 20px auto;
}

.client {
  background-color: white;
  border-radius: 80px;
  color: black;
  padding: 10px 25.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 16px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
}

.client:hover {
  background-color: black;
  color: white;
}

.close {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 64px;
  transform: rotate(45deg);
  cursor: pointer;
}

.code {
  background-color: white;
  border-radius: 80px;
  color: black;
  padding: 10px 25.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 16px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
}

.code:hover {
  background-color: black;
  color: white;
}

.contact {
  position: relative;
}

.contactImages {
  display: inline-block;
  background-color: white;
  color: black;
  margin-left: 0.016px;
  margin-right: 0.016px;
  transform: scale(0.8);
  height: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 70px;
  margin-bottom: 0px;
}

.contactImages:hover {
  background-color: grey;
  transition-duration: 0.4s;
}

h2:hover {
  color: grey;
  transition-duration: 0.4s;
}

h3 {
  color: white;
  position: relative;
  bottom: 32px;
}

h4 {
  font-size: 32px;
}

.hide {
  display: none;
}

header {
  font-family: 'space mono', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  width: 100%;
  padding: 16px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 75%;
  max-width: 1000px;
  margin-bottom: 48px;
}

.jamesModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.jamesContent {
  width: 800px;
  height: 550px;
  background-color: white;
  border-radius: 64px;
  text-align: center;
  position: relative;
}

.jamesImage {
  object-fit: cover;
  width: 240px;
  height: 240px;
  border-radius: 64px;
  margin-top: 32px;
  margin-bottom: 32px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 48px auto auto auto;
}

.name {
  margin-left: 5px;
  text-align: left;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

p {
  width: 80%;
  margin: 10px auto;
  color: white;
  font-size: 24px;
}

.project {
  background-color: white;
  border-radius: 80px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
}

.project:hover {
  background-color: black;
  color: white;
}

#projectName {
  cursor: pointer;
}

#projectName:hover {
  color: grey;
  transition-duration: 0.4s;
}

section.project {
  margin: 200px 0;
}

.server {
  background-color: white;
  border-radius: 80px;
  color: black;
  padding: 10px 25.6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: 16px;
  cursor: pointer;
  position: relative;
  bottom: 16px;
}

.server:hover {
  background-color: black;
  color: white;
}

.tech {
  margin-top: 20px;
  margin-bottom: 40px;
}

.techImages {
  width: 80px;
  margin: 10px;
}

@media screen and (max-width: 414px) {
  .app {
    margin-top: 50px;
  }

  .bioFirst {
    font-size: 15px;
  }

  .bioSecond {
    font-size: 15px;
  }

  .bioThird {
    font-size: 15px;
  }

  .code {
    transform: scale(0.8);
  }

  .client {
    transform: scale(0.8);
  }

  .contactImages {
    transform: scale(0.5);
  }

  h2 {
    font-size: 39px;
  }

  h3 {
    font-size: 26px;
  }

  header {
    font-size: 0px;
  }

  img {
    width: 90%;
  }

  .jamesContent {
    height: 550px;
  }

  .jamesImage {
    width: 180px;
    height: 180px;
  }

  p {
    font-size: 16px;
  }

  .project {
    transform: scale(0.8);
  }

  #projectName {
    margin: 0px;
    height: 20px;
  }

  .server {
    transform: scale(0.8);
  }

  .techImages {
    transform: scale(0.6);
  }
}
